/*  main.css */

*{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

header,nave,article,section,footer,aside{
	display:block;
}

/* centers website */
.container{
	width:1000px;
	/* 0px above or below, but then auto makes the container centered */
	margin:0px auto;
	border:2px solid black;
}
