<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationNext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Beginning copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Beginning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ColoredTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FirstTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FirstVertex copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FirstVertex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LitTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OnTheMove.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OpenGLDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>OpenGLMCVPt2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>OpenGLMVCPt1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PhongTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>StartAnimating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SwiftOpenGLRefactor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>TexturedTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UserInteraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F0AE77E20FAA8CF004489BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F0AE7B720FAAD45004489BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F7E3520FAE39500433E49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F60AE9420FABFA200CB6C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F8627C220FA8ED800A3F50F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FA67EB220FA89DB00925EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD53ABA20FA964B0007C3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD53AE220FAA0DC0007C3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
