@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v7/LC4u_jU27qpsdszDEgeU_3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
html, body {
    /* Ensure the page covers the entire view thus giving these parents
     an inherent size.  This enables children that do not have content
     fill empty space */
    height: 100%;
    width: 100%;
    background: #4f4f56;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    color: #ececf3;
    font-size: 14px;
}
header {
    position: relative;
    min-height: 10%;
    background: linear-gradient(10deg, #004bff, #4f4f56);
}
main {
    position: relative;
    min-height: 82%;
    padding: 1em;
    background: #1b1b22;
}
footer {
    position: relative;
    min-height: 8%;
    background-color: #4f4f56;
    text-align: center;
}
#title {
    position: absolute;
    /* Places the bottom half (i.e. 50%) down into the parent div from
     the top */
    top: 50%;
    /* Translate the element 50% of the way down into the parent div */
    transform: translateY(-50%);
    left: 10%;
    font-size: 24px;
}
#entry {
    padding: 1em;
    background: #4f4f56;
    position: relative;
}
p {
    margin: 0;
}
#copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}
/*
 @supports (display: grid) {
 @media (min-width: 1000px) {
 body {
 min-height: 100vh;
 display: grid;
 grid-template-columns: 1fr 1fr 3fr 1fr;
 grid-template-rows: 1fr 4fr 2fr;
 grid-column-gap: 20px;
 grid-template-areas:
 "header header header header"
 ". aside main ."
 "footer footer footer footer";
 margin: 0px;
 }
 }
 }
 */
